.Hero {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.Hero .overlay {
  content: '';
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.Hero-logo-container {
  height: 332px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Hero-logo {
  z-index: 11;
}

.Hero-text {
  width: 557px;
  text-align: center;
}

.btn-hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-arrow {
  width: 2rem;
}
