.SubHero {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SubHero-container {
  background: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
}