.Book {
  width: 100vw;
  height: 100vh;
  background: var(--color-light-silver);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Book-container {
  width: 905px;
}

@media screen and (max-width: 768px) {
  .Book {
    background: white;
  }

  .Book-container {
    width: 50%;
  }
}

@media screen and (max-width: 375px) {
  .Book {
    background: white;
  }

  .Book-container {
    width: 100%;
  }
}
