.SinglePost {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.SinglePost-header {
  margin-top: 200px;
}

.SinglePost-image {
  width: 50vw;
  height: 600px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.SinglePost-author {
  width: 400px;
  display: flex;
  align-items: center;
}

.SinglePost-author-left {
  display: flex;
  align-items: center;
}

.SinglePost-author-image {
  border-radius: 50%;
}
