@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Allura&family=Cinzel+Decorative:wght@700&family=Cinzel:wght@400;700&family=Montserrat:wght@300;400&family=Rajdhani:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-dark-gold: #deb16c;
  --color-light-gold: #eccf81;
  --color-dark-silver: #606167;
  --color-light-silver: #c6c9d0;
  --container-width: 1100px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.text-white {
  color: var(--color-white);
}

.text-medium-gold {
  color: #ffd771;
}

.rajdhani-bold-18 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.125rem;
  line-height: 2.75rem;
}

.rajdhani-bold-24 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.5rem;
}

.allura-regular-36 {
  font-family: 'Allura', cursive;
  font-size: 2.25rem;
}

.alfa-slab-one-18 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 18px;
  letter-spacing: 3.5px;
}

.nav-link {
  color: var(--color-white);
  text-decoration: none;
}
